<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
	<h1 class="text-4xl mb-4">Welcome to SberTube creator Starter-kit, {{ name }}</h1>
	<input #method [value]="method.value" class="hidden" />
	<div class="flex flex-col items-center">
		<span class="text-2xl mb-2">Choose a name writing method:</span>
		<div class="flex">
			<button class="bg-blue-500 text-white py-2 px-4 rounded-md mr-2" (click)="method.value = 'input'">
				By input
			</button>
			<button class="bg-blue-500 text-white py-2 px-4 rounded-md" (click)="method.value = 'clicking'">
				By dropdown clicking
			</button>
		</div>
		<div class="flex flex-col mt-4" [ngSwitch]="method.value">
			<div class="bg-white p-4 rounded-md shadow" *ngSwitchCase="'input'">
				<span class="text-lg">Write your name below:</span>
				<input
					#name
					class="mt-2 px-4 ml-[10px] py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500"
				/>
				<button class="ml-[10px] mt-4 px-4 py-2 bg-blue-500 text-white rounded-md" (click)="onSubmit(name.value)">
					Submit
				</button>
			</div>
			<div class="bg-white p-4 rounded-md shadow" *ngSwitchCase="'clicking'">
				<span class="text-lg">Select a name:</span>
				<div class="relative mt-2">
					<button
						class="bg-blue-500 text-white py-2 px-4 rounded-md w-full flex items-center justify-between focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500"
					>
						<span (click)="changeState()">Select Name</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke="currentColor"
							class="w-4 h-4"
						>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
						</svg>
					</button>
					<div
						[@dropdown]="state"
						class="absolute z-10 bg-white rounded-md shadow-lg mt-2 w-full overflow-y-auto h-[250px]"
					>
						<ul class="py-1">
							<li
								class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
								(click)="name = choosedName"
								*ngFor="let choosedName of names"
							>
								{{ choosedName }}
							</li>
							<!-- Add more names as needed -->
						</ul>
					</div>
				</div>
			</div>
			<div class="bg-white p-4 rounded-md shadow" *ngSwitchDefault>
				<span class="text-lg">Previously chosen method</span>
			</div>
		</div>
	</div>
</div>
