.active {
	border-bottom: 1px solid white;
}

.side {
	li {
		margin-top: -0px;
		padding: 5px 3px;
		cursor: pointer;
		&:hover {
			cursor: pointer;
		}
	}
}

button {
	border-radius: 4px;
	transition: all 0.2s;
	&:hover {
		background: rgba(#ccc, 0.3);
	}

	&:active {
		background: #e2ecfa;
		color: #5f6368;
	}

	span {
		z-index: 2;
	}
}
