<header class="w-screen z-10 h-[60px] bg-purple-600 flex fixed">
	<div class="max-w-[1200px] w-full mx-auto px-[20px] flex">
		<div class="flex w-full items-center py-[15px]">
			<section>
				<button (click)="open(sidebar)" class="flex justify-center items-center p-[5px]">
					<sb-icon [iconPath]="iconPath" name="complete" [width]="35" [height]="35"></sb-icon>
				</button>
			</section>

			<section class="flex mx-auto max-w-[600px] w-full">
				<form [formGroup]="search" class="flex max-w-[250px] w-full mx-auto">
					<input class="w-full" />
					<button (click)="searchVideo()" class="bg-white rounded-none">
						<span class="material-icons">search</span>
					</button>
				</form>
			</section>
			<section class="flex">
				<ng-container *ngIf="user$ | async as user; else reg">
					<a routerLink="user/account">
						<sb-user-avatar [user]="user" [width]="40" [height]="40"></sb-user-avatar>
					</a>
				</ng-container>
				<ng-template #reg>
					<a routerLink="/auth/register"><span class="material-icons">login</span></a>
				</ng-template>
			</section>
		</div>
	</div>
</header>

<ng-template #sidebar>
	<div class="flex flex-col w-full pb-[10px] overflow-y-auto overflow-x-hidden">
		<ul class="flex bg-gray-100 border-b border-gray-300 min-h-[370px] h-auto pb-[10px] flex-col">
			<li
				class="flex py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-3s00"
				routerLink="/"
				routerLinkActive="bg-gray-200"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				Home
			</li>
			<li class="flex py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-300">Trending</li>
			<li class="py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-300">Subscriptions</li>
			<li
				class="flex py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-200"
				routerLink="/user/account"
				routerLinkActive="bg-gray-200"
			>
				Library
			</li>
			<li
				class="flex py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-200"
				routerLink="/user/history"
				routerLinkActive="bg-gray-200"
			>
				History
			</li>

			<div class="flex py-4 px-6 cursor-pointer transition-colors duration-300 active:bg-gray-300" *ngIf="token">
				<sb-settings></sb-settings>
			</div>

			<li class="flex py-4 px-6 cursor-pointer transition-colors duration-300 active:bg-gray-200" *ngIf="token">
				<sb-user-editor></sb-user-editor>
			</li>
		</ul>
	</div>
</ng-template>
