<header class="w-full z-10 h-[60px] bg-purple-600 flex fixed">
	@if((IS_MOBILE$ | async) ||( IS_LANDSCAPE$ | async)) {
	<div class="max-w-[600px] z-10 flex w-full items-center px-[10px] mx-auto">
		<nav class="flex w-full">
			<button
				draggable="true"
				(click)="open(sidebar)"
				class="text-white bg-transparent min-w-[40px] flex px-[10px] relative overflow-hidden py-[5px] items-center text-center"
			>
				<sb-icon [class]="'flex items-center '" [name]="'complete'" icon="bars-2" [width]="24" [height]="24"> </sb-icon>
			</button>

			<div class="w-[90px] ml-[30px] flex">
				<form class="w-[95px] flex" action="" [formGroup]="search">
					<input
						formControlName="search"
						class="px-[10px] py-[5px] rounded-l-md rounded-r-none outline-none border-none"
					/>
					<button class="p-[5px] bg-white rounded-l-none rounded-r-md">
						<span class="material-icons">search</span>
					</button>
				</form>
			</div>
			<div class="flex items-center ml-auto">
				<ng-container *ngIf="user$ | async as user; else reg">
					<a routerLink="/user/account">
						<sb-user-avatar [user]="user" [color]="user.avatarBackground" [width]="40" [height]="40"></sb-user-avatar>
					</a>
				</ng-container>
				<ng-template #reg>
					<a routerLink="/auth/register"> <span class="material-icons">login</span></a>
				</ng-template>
			</div>
		</nav>
	</div>
	} @else {
	<div class="max-w-[1000px] flex w-full items-center px-[20px] mx-auto">
		<nav class="flex w-full">
			<button
				draggable="true"
				(click)="open(sidebar)"
				class="text-white bg-transparent min-w-[40px] flex px-[10px] relative overflow-hidden py-[5px] items-center text-center"
			>
				<sb-icon [class]="'flex items-center '" [name]="'complete'" icon="bars-2" [width]="24" [height]="24"> </sb-icon>
			</button>
			<form class="w-[250px] mx-auto flex" action="" [formGroup]="search">
				<div class="w-[250px] mx-auto flex">
					<input formControlName="search" class="px-[10px] py-[5px] rounded-l-md outline-none border-none" />
					<button class="p-[5px] bg-white rounded-r-md"><span class="material-icons">search</span></button>
				</div>
			</form>
			<div class="flex items-center ml-auto">
				<ng-container *ngIf="user$ | async as user; else reg">
					<a routerLink="/user/account">
						<sb-user-avatar [user]="user" [color]="user.avatarBackground" [width]="40" [height]="40"></sb-user-avatar>
					</a>
				</ng-container>
				<ng-template #reg>
					<a routerLink="/auth/register"> <span class="material-icons">login</span></a>
				</ng-template>
			</div>
		</nav>
	</div>

	}
</header>

<ng-template #sidebar>
	<div class="flex flex-col w-full pb-[10px] overflow-y-auto overflow-x-hidden">
		<ul class="flex bg-gray-100 border-b border-gray-300 min-h-[370px] h-auto pb-[10px] flex-col">
			<li
				class="flex py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-3s00"
				routerLink="/"
				routerLinkActive="bg-gray-200"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				Home
			</li>
			<li class="flex py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-300">Trending</li>
			<li class="py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-300">Subscriptions</li>
			<li
				class="flex py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-200"
				routerLink="/user/account"
				routerLinkActive="bg-gray-200"
			>
				Library
			</li>
			<li class="flex py-4 px-6 cursor-pointer transition-colors duration-300 hover:bg-gray-300">History</li>

			<div class="flex py-4 px-6 cursor-pointer transition-colors duration-300 active:bg-gray-300" *ngIf="token">
				<sb-settings></sb-settings>
			</div>

			<li class="flex py-4 px-6 cursor-pointer transition-colors duration-300 active:bg-gray-200" *ngIf="token">
				<sb-user-editor></sb-user-editor>
			</li>
			<li class="flex py-4 px-6 cursor-pointer transition-colors duration-300 active:bg-gray-200" *ngIf="token">
				<header>Subscription</header>
				<!-- TODO -->
			</li>
		</ul>
	</div>
</ng-template>
