<ng-container *ngIf="type === 'warning'; else success">
	<div class="toast flex min-w-[350px] w-auto absolute h-[80px] top-[60px] z-1 bg-white">
		<button class="w-[25px] flex items-center p-[10px] h-full">
			<span class="material-icons text-[15px]">close</span>
		</button>
		<div class="flex w-[80px] h-full p-[20px] justify-center items-center text-center bg-amber-300">
			<span class="material-icons text-[30px] text-amber-500">warning</span>
		</div>
		<div class="flex w-full flex-col h-[80px] justify-center items-center text-gray-500 text-[23px]">
			<span class="w-full flex justify-center">
				{{ status }}
			</span>
			<span class="w-full flex">
				{{ text }}
			</span>
		</div>
	</div>
</ng-container>

<ng-template #errorTab>
	<div class="toast flex min-w-[350px] w-auto absolute h-[80px] top-[60px] z-1 bg-white items-center">
		<button class="w-[25px] flex items-center p-[10px] h-full">
			<span class="material-icons text-[15px]">close</span>
		</button>
		<div class="flex w-[80px] h-full p-[20px] justify-center items-center text-center bg-red-500">
			<span class="material-icons text-[30px] text-red-800">error</span>
		</div>
		<div class="flex w-full flex-col h-[80px] justify-center items-center text-gray-500 text-[23px]">
			<span class="w-full flex justify-center">
				{{ status }}
			</span>
			<span class="w-full flex">
				{{ text }}
			</span>
		</div>
	</div>
</ng-template>

<ng-template #success>
	<ng-container *ngIf="type === 'success'; else errorTab">
		<div class="toast flex min-w-[350px] w-auto absolute top-[60px] h-[80px] z-1 bg-white">
			<button class="w-[25px] flex items-center p-[10px] h-full">
				<span class="material-icons text-[15px]">close</span>
			</button>
			<div class="flex w-[80px] p-[20px] h-[80px] justify-center items-center text-center bg-green-500">
				<span class="material-icons text-[30px] text-green-800">done</span>
			</div>
			<div class="flex w-full flex-col h-[80px] justify-center items-center text-gray-500 text-[23px] px-[10px]">
				<span class="w-full flex justify-center">
					{{ status }}
				</span>
				<span class="w-full flex">
					{{ text }}
				</span>
			</div>
		</div>
	</ng-container>
</ng-template>
