<form class="max-w-sm mx-auto p-6 bg-white rounded shadow-md" [formGroup]="form" (submit)="login()">
	<h2 class="text-2xl font-bold mb-6">Register</h2>

	<fieldset class="border-none mb-4 flex flex-col">
		<div class="w-full">
			<label for="email" class="block font-semibold">Username</label>
			<sb-control
				appearance="floated"
				text="username"
				[control]="form.controls['username']"
				type="email"
				id="email"
				[width]="300"
				class="w-full border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-300"
				placeholder="Enter your usernanme"
				formControlName="username"
			/>
		</div>
		<div>
			<sb-form-error
				*ngIf="username?.errors?.['minlength'] && username?.dirty"
				error="minimum value length: 3 symbols"
			></sb-form-error>
			<sb-form-error
				*ngIf="username?.errors?.['required'] && username?.touched"
				error="Those field required"
			></sb-form-error>
			<sb-form-error
				*ngIf="username?.errors?.['pattern'] && username?.touched"
				error="Username must be contain only english symbols and numbers "
			></sb-form-error>
		</div>
	</fieldset>
	<fieldset class="border-none mb-4 flex flex-col">
		<div class="w-full">
			<label for="password" class="block font-semibold">Password</label>
			<sb-control
				[control]="form.controls['password']"
				text="password"
				appearance="floated"
				[canSeePassword]="true"
				type="password"
				inputName="password"
				id="password"
				[width]="300"
				class="w-full border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring focus:border-blue-300"
				placeholder="Enter your password"
				formControlName="password"
			/>
		</div>
		<div>
			<sb-form-error
				*ngIf="password?.errors?.['minlength'] && password?.dirty"
				error="minimum value length: 3 symbols"
			></sb-form-error>
			<sb-form-error
				*ngIf="password?.errors?.['required'] && password?.touched"
				error="Those field required"
			></sb-form-error>
		</div>
	</fieldset>

	<fieldset>
		<button
			[ngClass]="{
				'bg-gray-500': form.invalid
			}"
			type="submit"
			[disabled]="form.invalid"
			class="mt-6 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:border-blue-300"
		>
			Login
		</button>
	</fieldset>
	<fieldset>
		<p class="flex flex-col">
			if you already have an account
			<a routerLink="/auth/register" class="text-gray-300 hover:text-blue-300 transition-all">login to account</a>
		</p>
	</fieldset>
	<fieldset></fieldset>
</form>
