.sidebar {
	z-index: 3;
	animation: sidebar-in 0.3s ease-in-out;
	bottom: 0;
}

.sidebar.sidebar-out {
	z-index: 2;

	animation: sidebar-out 0.3s ease-in-out;
}

.back-drop {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	min-height: 10vh;
	background: rgba(#000, 0.4);
	height: 100%;
}

@keyframes sidebar-in {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes sidebar-out {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
