.liked {
	background: #5c5cf1;
	color: white;
	sb-icon {
		--icon-color: white;
	}
}
.disliked {
	background: #f86565;
	color: white;
	sb-icon {
		--icon-color: white;
	}
}
.rotate-x-180 {
	transform: rotateX(180deg);
}
