button {
	border-radius: 4px;
	transition: all 0.2s;
	&.sb-appearance-upload {
		display: flex;
		justify-content: center;
		align-items: center;
		justify-items: center;
		background: blue;
		width: 60px;
		height: 60px;
	}

	&.sb-rounding-full {
		border-radius: 50%;
	}
	&:active {
		//background: #e2ecfa;
		color: #5f6368;
	}
}

.ripple {
	position: absolute;
	animation: ripple ease 1.2s;
	border-radius: 50%;
}

@keyframes ripple {
	from {
		width: 20px;
		height: 20px;
		opacity: 0.7;
		transform: scale(1.5);
	}
	to {
		transform: scale(20);
		opacity: 0;
	}
}
