<button
	sbRipple
	sbExtendedBtn
	[appearance]="appearance"
	[rounding]="rounding"
	[rippleColor]="rippleColor"
	[ngStyle]="{
		background: isHovered ? hoverBgColor : '',
		'background-color': isActive ? btnActiveBg : ''
	}"
	draggable="true"
	class="bg-{{ background }} min-w-[40px] px-[10px] overflow-hidden flex justify-center relative  py-[3px] "
>
	<sb-icon
		[fillColor]="fillColor"
		[class]="class"
		[icon]="iconPath"
		[name]="name"
		[width]="width"
		[height]="height"
	></sb-icon>
	<span class="ml-[10px] font-semibold"><ng-content></ng-content></span>
</button>
