li {
	position: relative;
	transition: 0.3s all;
	//border-bottom: 3px solid transparent;
	transform-origin: center;
	&:after {
		transition: all 0.3s;
		border-radius: 3px;
		position: absolute;
		width: 0;
		height: 3px;
		display: block;
		background: gray;
		content: '';
		top: 95%;
	}
}

li:hover {
	//border-bottom-color: gray;
	&:after {
		width: 100%;
	}
}

li.active {
	position: relative;
	&:after {
		position: absolute;
		content: '';
		top: 95%;
		width: 100px;
		background: gray;
		animation: 0.3s go-next;
	}
}

@keyframes go-next {
	from {
		transform: translateX(-100%);
		width: 0;
	}
	to {
		transform: translateX(0);
		width: 100%;
	}
}

sb-icon {
	--ci-primary-color: #a19e9e;
	--icon-color: #b40000;
}
