<div class="bg-gray-300 flex items-center">
	<div class="max-w-[600px] mx-auto px-[20px]">
		<div class="w-full flex">
			<ul class="flex">
				<li
					class="mr-[10px] py-[10px] text-center justify-center cursor-pointer"
					routerLink="/user/account"
					routerLinkActive="active"
				>
					<a class="py-[10px] px-[15px] flex items-center text-center"><span>Account</span></a>
				</li>
				<li
					class="ml-[20px] py-[10px] flex items-center justify-center text-center cursor-pointer"
					routerLink="/user/library"
					routerLinkActive="active"
				>
					<a class="py-[10px] px-[15px] flex items-center text-center"><span>Library</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
