<div class="bg-gray-300 flex items-center">
	<div class="max-w-[600px] mx-auto px-[20px]">
		<div class="w-full flex">
			<ul class="flex">
				<li
					class="mr-[10px] py-[10px] text-center justify-center cursor-pointer"
					[routerLink]="[homePath]"
					[routerLinkActiveOptions]="{ exact: true }"
					routerLinkActive="active"
				>
					<a class="py-[10px] px-[15px] flex items-center text-center"><span>Account</span></a>
				</li>
				<li
					class="ml-[20px] py-[10px] flex items-center justify-center text-center cursor-pointer"
					[routerLink]="[libraryPath]"
					routerLinkActive="active"
				>
					<a class="py-[10px] px-[15px] flex items-center text-center"><span>Library</span></a>
				</li>
				@if((IS_MOBILE$ | async) && user.token === token){
				<li
					class="ml-[20px] py-[10px] flex items-center justify-center text-center cursor-pointer"
					(click)="openMobileWindow(upload)"
				>
					<a class="py-[10px] px-[15px] flex items-center text-center"><span>Upload</span></a>
				</li>
				}
			</ul>
		</div>
	</div>
</div>
<ng-template #upload>
	<div class="w-[200px] h-full justify-center flex flex-col pb-[5px]">
		<form [formGroup]="form" class="flex-col w-full flex">
			<fieldset class="flex flex-col border-none my-[10px] border-gray-100 border">
				<div class="flex flex-col">
					<span class="flex justify-start text-[21px] text-gray-400">Title</span>
					<sb-control
						[width]="200"
						placeholder="Write video title"
						[control]="form.controls['title']"
						formControlName="title"
					></sb-control>
				</div>
				<div class="w-full flex -mt-[60px]" *ngIf="title?.touched && title?.errors?.['required']">
					<sb-form-error error="Those field is required"></sb-form-error>
				</div>
			</fieldset>
			<fieldset class="flex flex-col border-none my-[10px]">
				<div class="flex flex-col">
					<span class="flex justify-start text-[21px] text-gray-400">Short description</span>
					<sb-control
						[width]="200"
						placeholder="Write video short description"
						[control]="form.controls['shortBody']"
						formControlName="shortBody"
					></sb-control>
				</div>
				<div class="w-full flex -mt-[60px]" *ngIf="shortDescription?.touched && shortDescription?.errors?.['required']">
					<sb-form-error error="Those field is required"></sb-form-error>
				</div>
			</fieldset>
			<fieldset class="flex flex-col border-none my-[10px]">
				<div class="flex flex-col">
					<span class="flex justify-start text-[21px] text-gray-400">Description</span>
					<sb-control
						[width]="200"
						placeholder="Write video description"
						[control]="form.controls['body']"
						formControlName="body"
					></sb-control>
				</div>
				<div class="w-full flex -mt-[60px]" *ngIf="description?.touched && description?.errors?.['required']">
					<sb-form-error error="Those field is required"></sb-form-error>
				</div>
			</fieldset>
			<fieldset class="flex flex-col my-[10px]">
				<span class="flex justify-start text-[21px] text-gray-400">File</span>
				<div class="flex justify-center">
					@if(!file) {
					<sb-control-file (outputFile)="getFile($event)"></sb-control-file>
					}@else {
					<sb-player [showTime]="false" size="mobile" [source]="sourceLink" controls="true"></sb-player>

					}
				</div>
			</fieldset>
			<fieldset>
				<div class="flex mt-[10px] justify-center">
					<button
						[class.disabled]="form.invalid && !file"
						#button
						class="flex flex-row-reverse text-white bg-blue-700 px-[10px] py-[5px] rounded-md relative overflow-hidden"
						(click)="uploadVideo('white')"
					>
						<span class="material-icons">upload</span><span class="ml-[10px]">Upload Video</span>
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</ng-template>
