<div class="player-container {{ size }}">
	<vg-player (onPlayerReady)="onPlayerReady($event)">
		<vg-overlay-play></vg-overlay-play>
		<vg-buffering></vg-buffering>

		<vg-controls>
			<vg-play-pause></vg-play-pause>
			<vg-mute></vg-mute>
			<vg-volume vgFor="media"></vg-volume>
			<vg-scrub-bar>
				<vg-scrub-bar-current-time style="margin-right: 50%"></vg-scrub-bar-current-time>
			</vg-scrub-bar>
			<vg-playback-button></vg-playback-button>
			<vg-time-display *ngIf="showTime" vgProperty="current"></vg-time-display>
			<vg-time-display vgProperty="total"></vg-time-display>

			<vg-quality-selector></vg-quality-selector>

			<vg-fullscreen></vg-fullscreen>
		</vg-controls>
		<video
			type="video"
			#myMedia
			[src]="source"
			[vgMedia]="$any(myMedia)"
			id="media"
			sbVideo
			(duration)="getDuration($event)"
			crossorigin
		></video>
	</vg-player>
</div>
