<div class="w-full flex flex-col">
	@if(currentUser(); as user) {
	<sb-user-banner
		[user]="user"
		[fontSize]="40"
		[rippleColor]="user.avatarBackground"
		hoverBgColor="#f1f1f1"
		[color]="user.bannerBackground"
		[btnBgColor]="user.bannerBackground"
	>
	</sb-user-banner>
	}
</div>

<sb-user-page-switche
	[user]="currentUser()"
	[homePath]="routingConst.account"
	[libraryPath]="routingConst.accountLib"
></sb-user-page-switche>
<div class="flex max-w-[900px] flex-col mx-auto my-[20px]">
	<div class="w-full flex justify-center my-[15px] text-center px-[20px]">
		<span>{{ currentUser().registerDate | convertTime }} </span>
	</div>
	<section class="w-full flex flex-col justify-between">
		<div class="w-full px-[10px] flex mx-auto justify-between">
			<div class="flex items-center">
				<sb-user-avatar [user]="currentUser()" [width]="40" [height]="40"></sb-user-avatar>
				<span class="text-[21px] ml-[20px]">{{ currentUser().username | titlecase }}</span>
			</div>
			<div class="flex">
				<div>
					<sb-button
						(click)="editBio(area)"
						[width]="24"
						[height]="24"
						name="complete"
						icon="edit"
						rippleColor="#007692"
						>Edit info</sb-button
					>
				</div>
				<div class="ml-[20px]">
					<sb-button
						(click)="unLogin()"
						[width]="24"
						[height]="24"
						[hoverBgColor]="'#e76161'"
						name="complete"
						icon="user"
						rippleColor="#007692"
						>Exit from account</sb-button
					>
				</div>
			</div>
		</div>
		<div class="flex- w-full flex-col px-[20px]">
			<form [formGroup]="form">
				<fieldset class="flex flex-col w-full">
					<span class="flex start-0 text-gray-200 text-[31px]">Bio</span>
					<textarea
						formControlName="aboutUser"
						#area
						[contentEditable]="false"
						class="w-full resize-none h-[400px] caret-transparent pointer-events-none border rounded px-[10px] py-[5px] border-gray-200 outline-none"
						[value]="currentUser().userAbout"
					></textarea>
					<div *ngIf="userAbout?.touched && userAbout?.errors?.['required']">
						<sb-form-error error="Those field is required"></sb-form-error>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="flex mt-[5px] ml-auto px-[20px]" @showButtons *ngIf="area.contentEditable === 'true'">
			<sb-button
				icon="accept"
				background="gray-400"
				[width]="24"
				[height]="24"
				(click)="saveNewBio(area)"
				rippleColor="white"
				name="complete"
				class="flex items-center justify-center bg-blue-600 mr-[20px] text-center text-white"
			>
				Save</sb-button
			><sb-button
				background="gray-400"
				class="flex items-center justify-center bg-red-500 text-pnpm text-white"
				icon="cancel"
				[width]="24"
				[height]="24"
				name="complete"
				(click)="close(area)"
				>Cancel</sb-button
			>
		</div>
	</section>
</div>
