<div
	class="avatar relative"
	[style.background-color]="user.avatarBackground"
	[style.width]="width"
	[style.height]="height"
	(tap)="onTap(update)"
	style="background: url('http://localhost:3001/user/images/avatar/{{
		user.avatarBackgroundImage
	}}'); background-repeat: no-repeat; background-size: cover;"
>
	<div
		#imgContainer
		(click)="openWindow(update)"
		class="w-full px-[35%] py-[35%] cursor-pointer h-full absolute bg-black opacity-60 rounded-full hidden justify-center items-center"
	>
		<sb-icon icon="camera" name="complete" class="cursor-pointer" [width]="60" [height]="60"></sb-icon>
	</div>
	<ng-container *ngIf="firstUsernameLetter; else loading">
		<p [style.font-size]="fontSize">
			{{ firstUsernameLetter }}
		</p>
	</ng-container>
</div>

<ng-template #loading><sb-skeleton-loader width="50px" height="5px"></sb-skeleton-loader></ng-template>
<ng-template #update>
	<div class="w-full h-full flex-col justify-center">
		<sb-control-file (outputFile)="getFile($event)"></sb-control-file>
		<div class="flex mt-[10px]">
			<button
				#button
				class="flex flex-row-reverse text-white bg-blue-700 px-[10px] py-[5px] rounded-md relative overflow-hidden"
				(click)="uploadImage('white')"
			>
				<span class="material-cons">upload</span><span>Upload Image</span>
			</button>
		</div>
	</div>
</ng-template>
