<div class="flex flex-col max-w-[800px] w-full mx-auto mt-[10px]">
	<ng-container *ngIf="videos$ | async as videos">
		@if(videos.length > 0) {
		<ul class="flex flex-col w-full max-w-[900px] mx-auto mt-10">
			@for(video of videos; track video.id) { @if((IS_MOBILE$ | async)){
			<li class="flex flex-col p-[5px] bg-gray-200 rounded-md mh-[150px] h-auto">
				<a [routerLink]="['video', video.alias]">
					<section>
						<sb-video-preview
							[class]="'sm'"
							[source]="'http://localhost:3001/video/t/' + video.id"
							[video]="video"
						></sb-video-preview>
					</section>
					<section class="flex flex-col mt-[20px]">
						<section class="flex">
							<div class="flex">
								<span class="text-gray-400 text-[16px]">Title: </span>
								<span class="ml-[10px] text-gray-400 text-[18px]">{{ video.title }}</span>
							</div>
						</section>
						<section class="flex mt-[10px]">
							<span class="text-gray-400 text-[16px]">Description: </span>
							<span class="ml-[10px] text-gray-400 text-[18px] whitespace-nowrap text-ellipsis">{{ video.body }}</span>
						</section>
						<section class="flex mt-[10px]">
							<sb-video-action [user]="user()" actionType="like" [video]="video"></sb-video-action>
							<sb-video-action [user]="user()" class="ml-[10px]" actionType="dislike" [video]="video"></sb-video-action>
						</section>
					</section>
				</a>
			</li>
			} @else{
			<li class="flex p-[5px] bg-gray-200 rounded-md min-h-[179px] w-full h-auto">
				<a class="flex w-full" [routerLink]="['video', video.alias]">
					<section>
						<sb-video-preview
							[class]="'sm'"
							[source]="'http://localhost:3001/video/t/' + video.id"
							[video]="video"
						></sb-video-preview>
					</section>
					<section class="flex flex-col ml-[20px] w-full">
						<section class="flex">
							<div class="flex">
								<span class="text-gray-400 text-[16px]">Title: </span>
								<span class="ml-[10px] text-gray-400 text-[18px]">{{ video.title }}</span>
							</div>
						</section>
						<section class="flex mt-[10px]">
							<span class="text-gray-400 text-[16px]">Description: </span>
							<span class="ml-[10px] text-gray-400 text-[18px] whitespace-nowrap text-ellipsis">{{ video.body }}</span>
						</section>
						<section class="flex mt-auto ml-auto">
							<sb-video-action [user]="user()" actionType="like" [video]="video"></sb-video-action>
							<sb-video-action [user]="user()" class="ml-[10px]" actionType="dislike" [video]="video"></sb-video-action>
						</section>
					</section>
				</a>
			</li>
			} }
		</ul>
		} @else {
		<span class="w-full text-center text-gray-600 text-[42px] mt-[30px]">No Video yey</span>
		}
	</ng-container>
</div>
