<div class="border-gray-200 border max-w-[600px] mx-auto rounded mt-[30px] pb-[20px]">
	<h4 class="text-[28px] my-[10px] text-gray-500 font-bold">Simple Video editor</h4>
	<span class="text-[18px] my-[10px] text-gray-500 font-bold"
		>for <b class="text-black">video</b> &nbsp; with alias: &nbsp;
		<b class="text-black">{{ state$?.['video'].alias }}</b></span
	>
	<form class="max-w-[400px] mx-auto flex flex-col justify-center">
		<span class="text-[22px] text-gray-500 full justify-start flex">Old Data</span>
		<fieldset class="flex w-full flex-col mt-[10px]">
			<span class="text-[16px] text-gray-500 full justify-start flex font-semibold">Title: </span>
			<div>
				<sb-control
					type="text"
					appearance="primitive"
					[inputValue]="state$?.['video'].title"
					[isDisabled]="true"
				></sb-control>
			</div>
		</fieldset>
		<fieldset class="w-full mt-10">
			<span class="text-[16px] text-gray-500 full justify-start flex font-semibold">Description: </span>
			<div>
				<sb-control
					type="text"
					appearance="primitive"
					placeholder="new description"
					[inputValue]="state$?.['video'].title"
					[isDisabled]="true"
				></sb-control>
			</div>
		</fieldset>
	</form>
	<form class="mt-[30px] max-w-[400px] mx-auto flex flex-col justify-center" [formGroup]="form">
		<span class="text-[22px] text-gray-500 full justify-start flex"> New data</span>
		<fieldset class="w-full flex flex-col">
			<span class="text-[16px] text-gray-500 full justify-start flex font-semibold">Title:</span>
			<div>
				<sb-control
					type="text"
					appearance="floated"
					placeholder="new title"
					text="new title"
					[control]="form.controls['title']"
					formControlName="title"
				></sb-control>
			</div>
			<div *ngIf="form.controls['title'].touched && form.controls['title'].errors?.['required']">
				<sb-form-error error="this field is required"></sb-form-error>
			</div>
		</fieldset>
		<fieldset class="w-full mt-10 flex flex-col">
			<span class="text-[16px] text-gray-500 full justify-start flex font-semibold"> Description</span>
			<div>
				<sb-control
					type="text"
					appearance="floated"
					placeholder="new description"
					text="description"
					[control]="form.controls['body']"
					formControlName="body"
				></sb-control>
			</div>
			<div *ngIf="form.controls['body'].touched && form.controls['body'].errors?.['required']">
				<sb-form-error error="thi field required"></sb-form-error>
			</div>
		</fieldset>
		<fieldset class="flex mt-10 justify-center">
			<sb-button
				[class.disabled]="form.invalid"
				[hoverBgColor]="'#5089e0'"
				[isLoading]="isLoading"
				icon="edit"
				name="complete"
				(click)="submitForm()"
				>Edit video</sb-button
			>
		</fieldset>
		<div *ngIf="serverErrors$ | async as error" class="flex w-full">
			<sb-server-errors [error]="error"></sb-server-errors>
		</div>
	</form>
</div>
