::ng-deep sb-button {
	background: #458de8;
	border-radius: 4px;
	pointer-events: all;
	user-select: all;
	cursor: pointer;
	sb-icon {
		--icon-color: white;
	}
	.disabled {
		background: gray;
		user-select: none;
		pointer-events: none;
	}
}

form {
	::ng-deep sb-control {
		background: white;
	}
}
