.sidebar-header {
	display: flex;
	margin-top: 70px;

	height: 40px;
}

.sidebar-content {
	display: flex;

	height: auto;
	min-height: 200px;
}
ul {
	display: flex;
	list-style: none;
	flex-direction: column;

	li {
		display: flex;
		width: 300px;
		margin-top: 10px;
		border-bottom: 1px dashed;

		a {
			position: relative;
			display: flex;
			margin-top: 5px;
			text-align: center;
			color: black;
			padding: 10px 25px;
			width: 100%;
			justify-content: space-between;
			transition: 0.3s all;
			transform-origin: left;
			text-decoration: none;

			span {
				margin-left: 10px;
			}

			&:after {
				height: 100%;
				top: -3px;
				left: 0;
				content: '';
				width: 0;
				position: absolute;
			}

			&:hover {
				color: rgba(#000, 60%);
				transform: translateZ(-200px);

				&:after {
					width: 100%;
					background: rgba(#000, 10%);
					opacity: 0.5;
					transition: width 0.3s;
					transform-origin: left;
				}
			}
		}

		.active {
			background: rgba(#000, 10%);
		}
	}
}
