<div class="flex justify-center items-center border border-gray-100 w-[150px] h-[150px]">
	<div
		class="cloud relative bg-blue-200 transition-all duration-300 hover:bg-blue-400 p-4 rounded-full shadow-md cursor-pointer"
		#container
		(click)="input.showPicker()"
	>
		<sb-icon icon="upload" name="complete" fillColor="#eee"></sb-icon>
	</div>
	<input
		#input
		class="h-full w-full relative hidden"
		type="file"
		placeholder="Drop your file here"
		(change)="changeControl($event)"
	/>
	<div #loading class="loading hidden"></div>
</div>
