<div class="flex flex-col max-w-[800px] w-full mx-auto mt-[10px]">
	<ng-container *ngIf="currentUser$ | async as user">
		@if(user.videos.length > 0) {
		<ul class="flex flex-col w-full max-w-[900px] mx-auto mt-10">
			@for(video of user.watchedVideos; track video.video.id) { @if((IS_MOBILE$ | async)){
			<li class="flex flex-col p-[5px] bg-gray-200 rounded-md mh-[150px] h-auto">
				<a [routerLink]="['/video', video.video.alias]">
					<section>
						<sb-video-preview
							[class]="'sm'"
							[source]="'http://localhost:3001/video/t/' + video.video.id"
							[video]="video.video"
						></sb-video-preview>
					</section>
					<section class="flex flex-col mt-[20px]">
						<section class="flex">
							<div class="flex">
								<span class="text-gray-400 text-[16px]">Title: </span>
								<span class="ml-[10px] text-gray-400 text-[18px]">{{ video.video.title }}</span>
							</div>
						</section>
						<section class="flex mt-[10px]">
							<span class="text-gray-400 text-[16px]">Description: </span>
							<span class="ml-[10px] text-gray-400 text-[18px] whitespace-nowrap text-ellipsis">{{
								video.video.body
							}}</span>
						</section>
						<section class="flex mt-[10px]">
							<sb-video-action [user]="user" actionType="like" [video]="video.video"></sb-video-action>
							<sb-video-action
								[user]="user"
								actionType="dislike"
								class="ml-[10px]"
								[video]="video.video"
							></sb-video-action>
						</section>
					</section>
				</a>
			</li>
			} @else{
			<li class="flex w-full p-[5px] bg-gray-200 rounded-md min-h-[180px] h-content">
				<a class="flex w-full" [routerLink]="['/video', video.video.alias]">
					<section>
						<sb-video-preview
							[class]="'sm'"
							[source]="'http://localhost:3001/video/t/' + video.video.id"
							[video]="video.video"
						></sb-video-preview>
					</section>
					<section class="flex flex-col ml-[10px] w-full">
						<section class="flex">
							<div class="flex">
								<span class="text-gray-400 text-[16px]">Title: </span>
								<span class="ml-[10px] text-gray-400 text-[18px]">{{ video.video.title }}</span>
							</div>
						</section>
						<section class="flex mt-[10px]">
							<span class="text-gray-400 text-[16px]">Description: </span>
							<span class="ml-[10px] text-gray-400 text-[18px] whitespace-nowrap text-ellipsis">{{
								video.video.body
							}}</span>
						</section>
						<section class="flex mt-auto ml-auto">
							<sb-video-action
								[isDisabled]="true"
								actionType="like"
								[user]="user"
								[video]="video.video"
							></sb-video-action>
							<sb-video-action
								[isDisabled]="true"
								class="ml-[10px]"
								[user]="user"
								actionType="dislike"
								[video]="video.video"
							></sb-video-action>
						</section>
					</section>
				</a>
			</li>
			} }
		</ul>
		} @else {
		<span class="w-full text-center text-gray-600 text-[42px] mt-[30px]">No Video yey</span>
		}
	</ng-container>
</div>
